{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'fonts/anderson.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/inter.css' %}">
</head>
<body>
    {% block content%}
    <div id="main" class="font-inter">
        <div class="nav-bar top-12 absolute flex flex-row justify-center w-full">
            <div class="flex justify-start bg-pearl text-space-cadet z-10 rounded-3xl text-xs">
                <a class="flex flex-col justify-center p-4 hover:bg-space-cadet hover:text-cornsilk hover:rounded-3xl hover:ease-linear" href="{% url 'home:getContextData' %}">HOME</a>
                <a class="flex flex-col justify-center p-4 hover:bg-space-cadet hover:text-cornsilk hover:rounded-3xl hover:ease-linear" href="{% url 'airplanes:getContextData' %}">AIRPLANES</a>
                <a class="flex flex-col justify-center p-4 hover:bg-space-cadet hover:text-cornsilk hover:rounded-3xl hover:ease-linear" href="{% url 'models:getContextData' %}">MODELS</a>
                <a class="flex flex-col justify-center p-4 hover:bg-space-cadet hover:text-cornsilk hover:rounded-3xl hover:ease-linear" href="{% url 'technicians:getContextData' %}">TECHNICIANS</a>
                <a class="flex flex-col justify-center p-4 hover:bg-space-cadet hover:text-cornsilk hover:rounded-3xl hover:ease-linear" href="{% url 'tests:getContextData' %}">TESTS</a>
            </div>
        </div>

        <div class="bg-firebrick h-64 flex justify-left items-end">
            <div class="flex flex-col justify-left items-start mx-20">
                <h1 class="text-center text-5xl font-bold font-anderson mb-5 text-cornsilk">Test Profile</h1>
            </div>
        </div>

        <div class="grid grid-cols-12 grid-rows-6 gap-16">
            <div class="col-start-1 col-end-9 row-start-1 row-end-5 text-left p-2 pb-5 m-8 ml-20 text-lg outline rounded-2xl">
                <div class="flex flex-col">
                    <p class="font-semibold text-center m-2">Details</p>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Test Number:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.test_num}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Test Name:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.test_name}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Test Date:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.test_date}}</p>
                    </div>
                    
                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Maximum Score:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.maximum_score}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Number of Hours:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.number_of_hours}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Airplane Score:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.test_details.airplane_score}}</p>
                    </div>
                </div>
            </div>

            <div class="col-start-1 col-end-9 row-start-4 row-end-7 text-left p-2 pb-5 m-8 ml-20 text-lg outline rounded-2xl">
                <div class="flex flex-col">
                    <p class="font-semibold text-center m-2">Test Flight</p>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Registration Number:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.flight_details.registration_num}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Model Number:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.flight_details.model_num}}</p>
                    </div>

                    <div class="grid grid-cols-2">
                        <p class="col-start-1 col-end-2 pl-2">Airline:</p>
                        <p class="col-start-2 col-end-3 pl-16">{{context.flight_details.airline}}</p>
                    </div>
                    
                </div>
            </div>



            <div class="flex flex-col col-start-9 col-end-13 row-start-1 row-end-7 justify-start items-center gap-2">
                <h1 class="font-semibold text-2xl text-center mt-5 pb-2">Tested by</h1>
                <div class="w-64 flex flex-row flex-wrap justify-start items-center mx-20 outline rounded-2xl">
                    <div class="h-72 w-full flex flex-col justify-start rounded-2xl">
                        <img src="https://res.cloudinary.com/df0fmqsyt/database/technicians/{{context.test_details.ssn}}.jpg" class="object-cover w-full h-full rounded-xl">
                    </div>
                    <div class="flex flex-col justify-center p-2 w-full">
                        <p class="font-semibold text-center">{{context.technician_details.first_name}} {{context.technician_details.last_name}}</p>
                        <p class="font-light text-center">{{context.test_details.ssn}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    {% endblock %}
    <script src="{% static 'js/general.js' %}"></script>
</body>
</html>