@font-face {
    font-family: 'Sygma';
    src: url('Sygma-Bold.woff2') format('woff2'),
        url('Sygma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sygma';
    src: url('Sygma-Regular.woff2') format('woff2'),
        url('Sygma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

